body {
    background-color:#fafafa;
}

.feedWrapper {
    display: grid;
    grid-template-columns: 293px 293px 293px;
    grid-column-gap: 18px;
    grid-row-gap: 15px;
    margin-left: auto;
    margin-right: auto;
	width: 915px;
}

.picture {
    height: 293px;
    width: 293px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture img {
    max-width: 100%;
    max-height: 100%;
}

.title {
    position: absolute;
    bottom: 0;
}
